@use "../variables" as *;
@use "../variables";

@mixin checkbox {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid $bgwhite;
    width: 15rem;
    gap: 1rem;

    html[data-mode="light"] & {
        border: 1px solid $bgblack;
    }

    .item-title {
        margin-bottom: 1rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        li {
            display: flex;
            flex-direction: row-reverse;
            .movie-text {
                font-size: 1.8rem;
                margin-left: 0.5rem;
                margin-bottom: 0.5rem;
                cursor: pointer;
            }
        }
    }
}

@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}

@mixin flexcolumncenter {
    @include flexcolumn;
    justify-content: center;
    align-items: center;
    text-align: center;
}
