@use "./abstracts/" as *;
@use "./base/" as *;
@use "./layout/" as *;
@use "./components/" as *;

.detail-page {
    // 2025.01.20 부모클래스에 넓이, 높이값 지정
    // section에도 넓이 높이값 지정 수정
    // container 추가( 이병현)
    width: 100%;
    height: 100vh;

    .section {
        width: 100%;
        height: 100vh;
    }

    .container {
        height: 100%;
        padding: 15rem 0 5rem;
        margin-inline: $marginInline;
    }

    // 2025.01.22 상세페이지 디자인 수정( 이병현)
    .movie-detail-content {
        display: flex;
        gap: 10rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .detail-leftBox {
        width: 55rem;

        .movie-img {
            width: 100%;
            margin-bottom: 5rem;
        }
    }

    .movie-options {

        > ul {
            display: grid;
            gap: 5rem;
            grid-template-columns: repeat(3, 1fr);

            .option-item {
                display: flex;
                justify-content: center;
                
                > a {
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .option-img {
                margin-bottom: 3rem;
            }
        }
    }

    .detail-rightBox {
        width: calc(100% - 65rem);
        display: flex;
        gap: 10rem 5rem;
        flex-direction: row;
        flex-wrap: wrap;

        .detail-row {
            width: 100%;
            margin-bottom: 7rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .movie-detailsBox {
        width: calc(100% - 50rem);
    }

    .movie-actors {
        width: 45rem;

        .actors-list {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .actors-item {
                display: flex;
                gap: 5rem;
                flex-direction: row;
                align-items: center;
            }

            .actors-img {
                width: 10rem;
                aspect-ratio: 1;
                border-radius: 100%;
            }

            .actors-name {
                width: calc(100% - 15rem);
                font-size: 1.6rem;
                font-weight: 400;
                color: $fontWhite;

                html[data-mode="light"] & {
                    color: $fontBlack;
                }
            }
        }
    }

    .another-series {
        border-top: 2px solid #242E43;
        padding-top: 3rem;
        width: 100%;

        html[data-mode="light"] & {
            border-top: 2px solid $boxColor;
        }

        .series-list {
            display: flex;
            gap: 5rem;
            flex-direction: row;
            align-items: center;

            > li {
                height: 30rem;
            }
        }
    }
}