@use "./abstracts/" as *;
@use "./base/" as *;
@use "./layout/" as *;
@use "./components/" as *;

.result-page {
    .section {
        margin: 15rem 5rem;
    }

    .section-wrapper {
        display: flex;
        gap: 5rem;
    }

    .wrapper-chkbox {
        @include flexcolumn;
        gap: 3rem;

        .chkbox-yearlist {
            @include checkbox;
            height: 30rem;
            overflow-y: scroll;
        }

        .chkbox-genrelist {
            @include checkbox;
            height: 15rem;
        }
    }

    .wrapper-itemcontainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 3rem;
        align-items: flex-start;
    }
    
    .itemcontainer-card {
        .card-item {
            @include flexcolumncenter;
            gap: 1rem;
            img {
                height: 40rem;
                object-fit: cover;
                border-radius: 3rem;
            }

            .movie-text {
                font-size: 1.7rem;
                line-height: 1;
            }
        }
    }
}
