@use "../abstracts/" as *;

html[data-mode="light"] {
  body {
    background-color: $bgwhite;
    transition: background-color 0.3s;
  }
}

html[data-mode="dark"] {
  body {
    background-color: $bgblack;
    transition: background-color 0.3s;
  }
}
