@use '../abstracts/' as *;

.main-page {
    width: 100%;
    height: 100vh;

    .section {
        width: 100%;
        height: 100%;
    }

    .contents {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .movie-imgBox {
        width: 100%;
        height: 100%;
    }
    
    .movie-informationBox {
        width: 100rem;
        position: absolute;
        top: 50%;
        left: 20rem;
        translate: 0 -50%;
    }

    .popular-seriesBox {
        width: calc(100% - 10rem);
        position: absolute;
        bottom: 5.5rem;
        left: 0;
        z-index: 10;
        margin-inline: $marginInline;
    }

    .popular-item {
        width: 100%;
        height: 10rem;
        background-color: rgba(255, 255, 255, 75%);
        box-shadow: $boxShadow;
        border-radius: 1.5rem;
        transition: all .3s ease-in-out;

        > a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.4rem;
            font-weight: 500;
            letter-spacing: -0.03em;
            color: $fontBlack;
        }

        &:hover {
            background-color: rgba(0,0,0,75%);

            > a {
                color: $fontWhite;
            }
        }

        html[data-mode="light"] & {
        
            background-color: rgba(0, 0, 0, 75%);

            > a {
                color: $fontWhite;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 75%);

                > a {
                    color: $fontBlack;
                }
            }
        }
    }
}